*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.container-small{
    max-width: 800px;
    margin: 0 auto;
}

.my-row{
    display: flex;
    flex-wrap:wrap;
}

.my-col-1-6{
    width: calc((100% / 6) * 1);
}

.my-col-2-3{
    width: calc((100% / 6) * 4);
}

.my-col-2-5{
    width: calc((100% / 5) * 2);
}

.my-col-3-5{
    width: calc((100% / 5) * 3);
}

.my-col-3-4{
    width: calc((100% / 4) * 3);
}

.my-col-1-4{
    width: calc((100% / 4) * 1);
}

.gray-container{
    background-color: lightgray;
}
/*
    HEADER
*/

header{
    background-image: url(img/jumbo.png);
    background-size: cover;
}

.header-top .main-menu-container > *{
    padding: 10px;
    margin-top: 20px;
}

.link-central *{
    text-decoration: none;
    color: white;
}

.login-container{
   
    display: inline-block;
}

.login-bottone{
    display: inline;
    padding: 10px;
    background-color: white;
    border-radius: 30px;
}

.login-bottone2{
    display: inline;
    padding: 10px;
    background-color: black;
    border-radius: 30px;
    color: white;
}

.header-top .main-menu-container > .login-container{
    text-align: right;
}

.header-top .main-menu-container > .main-nav{
    text-align: center;
}
.header-top .main-menu-container > .main-nav ul li{
    display: inline-block;
}

.header-bottom{
    padding: 50px 0px;
}

.jumbotron{
    text-align: center;
    color: white;
    padding-top: 40px;
    margin-bottom: 70px;
}

.jumbotron > h1{
    font-size: 3em;
}

.jumbotron > *{
    padding-bottom: 20px;
    padding-top: 20px;
}

.jumbotron > .bottoni{
    padding-top: 30px;
    
}

.jumbotron > .bottoni >.login-bottone{
    margin-right: 30px;
    color: black;
    padding: 20px;
}

.jumbotron > .bottoni >.login-bottone2{
    margin-left: 30px;
    padding: 20px;
}


/*
    MAIN
*/

.main-section-row{
    padding: 40px;
}

/*
    FOOTER
*/

footer{
    background-color: rgb(7, 1, 14);
}

.footer-top{
    padding: 40px;
}

.footer-top hr{
    margin-top: 30px;
}

.footer-bottom .sign-container{
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
